Chatbot for ZOKFORCE.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Chatbot for ZOKFORCE
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/email:0.0.7@6c3856490275f3440619fabfdc54f3bd29bad8959e29996452277b9c3b0c5e9b
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.12@680ddc73a743030de0cb8f6dafe33519683f61cd8dee6abdb531bd6eb0ab74a6
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.7@c4e7b999ae67bfc059f6f51630bed36def5a835d12b0251694f5784b5ff1cd95
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 👋 Hi! Welcome to ZOKFORCE. How can I help you today? Ask me
      anything about our AI services, company info, or solutions.
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - Would like to know about ZOKFORCE solution and service.
    - Would like to know more about ZOKFORCE company background.
    - Would like to know how AI can transform your business
    - Would like to speak with your representative.
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1756356729898-source-1756360036405-target
      selected: false
      source: '1756356729898'
      sourceHandle: source
      target: '1756360036405'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1756349676366-source-1756407779215-target
      selected: false
      source: '1756349676366'
      sourceHandle: source
      target: '1756407779215'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1756407779215-1-1756356729898-target
      selected: false
      source: '1756407779215'
      sourceHandle: '1'
      target: '1756356729898'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1756407779215-2-1756409873996-target
      selected: false
      source: '1756407779215'
      sourceHandle: '2'
      target: '1756409873996'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1756407779215-1756411125280-1756411165153-target
      selected: false
      source: '1756407779215'
      sourceHandle: '1756411125280'
      target: '1756411165153'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1756407779215-1756410387505-17564263774550-target
      selected: false
      source: '1756407779215'
      sourceHandle: '1756410387505'
      target: '17564263774550'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1756407779215-1756433118214-1756433195848-target
      selected: false
      source: '1756407779215'
      sourceHandle: '1756433118214'
      target: '1756433195848'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 17564263774550-source-1756433716641-target
      selected: false
      source: '17564263774550'
      sourceHandle: source
      target: '1756433716641'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1756433716641-source-1756428270332-target
      selected: false
      source: '1756433716641'
      sourceHandle: source
      target: '1756428270332'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1756407779215-1756700120222-1756700915220-target
      selected: false
      source: '1756407779215'
      sourceHandle: '1756700120222'
      target: '1756700915220'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1756360036405-source-1756741865978-target
      selected: false
      source: '1756360036405'
      sourceHandle: source
      target: '1756741865978'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1756741865978-source-answer-target
      selected: false
      source: '1756741865978'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1756411165153-source-1756742205766-target
      selected: false
      source: '1756411165153'
      sourceHandle: source
      target: '1756742205766'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1756742205766-source-1756411721030-target
      selected: false
      source: '1756742205766'
      sourceHandle: source
      target: '1756411721030'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1756433716641-source-1757900370944-target
      source: '1756433716641'
      sourceHandle: source
      target: '1757900370944'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 89
      id: '1756349676366'
      position:
        x: -113.39587918175289
        y: -59.83684385650281
      positionAbsolute:
        x: -113.39587918175289
        y: -59.83684385650281
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1756741865978.filtered_answer#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 120
      id: answer
      position:
        x: 1894.8914552328818
        y: 58.82442813803057
      positionAbsolute:
        x: 1894.8914552328818
        y: 58.82442813803057
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 6kP30Bm3LRI2Ya0JDAITnsyErLyRtQBqZORvdHvWLn2DG9kGKdfEzM5iAbWsqex2
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-v3
              embedding_provider_name: langgenius/tongyi/tongyi
              vector_weight: 1
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 104
      id: '1756356729898'
      position:
        x: 852.6674330125785
        y: 44.924628032815804
      positionAbsolute:
        x: 852.6674330125785
        y: 44.924628032815804
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1756356729898'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: qwen-flash-2025-07-28
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: c3d0aa26-7d8c-49ed-8a8e-a494eb8a6863
          role: system
          text: "``` xml\nuse the following context as your learned knowledge, inside\n\
            \ <context></context>XML tags\n<context>\n{{#context#}}\n</context>\n\n\
            <instruction>\n    <intro>\n        You are an AI assistant tasked with\
            \ creating a prompt template for a customer representative of ZOKFORCE.\
            \ Your goal is to provide clear, concise information about ZOKFORCE's\
            \ capabilities within 300 words and end with a call to action for the\
            \ user to provide contact details or ask further questions.\n    </intro>\n\
            \    \n    <steps>\n        1. Start with a greeting and brief introduction\
            \ of ZOKFORCE.\n        2. Provide a concise explanation of ZOKFORCE's\
            \ capabilities, focusing on key features and benefits.\n        3. Ask\
            \ the user if they have more questions or if they prefer a detailed explanation\
            \ from a ZOKFORCE representative.\n        4. Request the user's name,\
            \ email, phone number, and specific areas they wish to understand.\n \
            \       5. Inform the user that a representative will contact them separately.\n\
            \    </steps>\n    \n    <examples>\n        <example>\n            <input>\n\
            \                User: \"What does ZOKFORCE do?\"\n            </input>\n\
            \            <output>\n                \"ZOKFORCE specializes in [specific\
            \ capability]. We help businesses by [brief explanation]. Would you like\
            \ more details or would you prefer a representative to contact you? Please\
            \ provide your name, email, phone number, and any specific areas you'd\
            \ like to understand. A representative will get in touch with you.\"\n\
            \            </output>\n        </example>\n        \n        <example>\n\
            \            <input>\n                User: \"Is ZOKFORCE suitable for\
            \ my business?\"\n            </input>\n            <output>\n       \
            \         \"ZOKFORCE is designed to support businesses like yours by [specific\
            \ feature]. If you have more questions or need a personalized assessment,\
            \ please provide your name, email, phone number, and any specific concerns.\
            \ Our representative will contact you.\"\n            </output>\n    \
            \    </example>\n        \n        <example>\n            <input>\n  \
            \              User: \"How can ZOKFORCE benefit my team?\"\n         \
            \   </input>\n            <output>\n                \"ZOKFORCE can enhance\
            \ your team's performance by [specific benefit]. If you'd like to discuss\
            \ further or need a detailed explanation, please share your name, email,\
            \ phone number, and specific areas of interest. We'll arrange a call with\
            \ a representative.\"\n            </output>\n        </example>\n   \
            \ </examples>\n    \n    <conclusion>\n        Ensure the prompt is clear,\
            \ concise, and within 300 words. Use natural language without XML tags\
            \ in the output. Include a friendly and professional tone to engage the\
            \ user effectively. \n    </conclusion>\n</instruction>\n```"
        - id: 07d44617-01f2-40ba-a58c-fc779793d102
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output_enabled: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: false
      height: 108
      id: '1756360036405'
      position:
        x: 1158.7791849668097
        y: 44.924628032815804
      positionAbsolute:
        x: 1158.7791849668097
        y: 44.924628032815804
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1756700120222'
          name: Greeting and General Inquiry - Basic greetings, help requests, and
            general questions about services
        - id: '1'
          name: ZOKFORCE Company Information - Questions about ZOKFORCE company details,
            services, and solutions
        - id: '1756411125280'
          name: AI Technical Questions - Questions about AI, LLMs, machine learning,
            automation, or technical topics
        - id: '1756410387505'
          name: Contact Details Provided - User provides BOTH name AND email address
            in the same message
        - id: '1756433118214'
          name: Representative Request - User requests to "speak with", "talk to",
            or be "contacted" by a representative
        - id: '2'
          name: Off-topic or Irrelevant - Messages completely unrelated to ZOKFORCE
            or AI topics
        desc: ''
        instruction: "use the following context as your learned knowledge, inside\n\
          <context></context>XML tags\n<context>\n{{#sys.query#}}\n</context>\n\n\
          You are an intelligent assistant designed to classify user queries for the\
          \ ZOKFORCE chatbot.\nYour goal is to accurately categorize user input into\
          \ one of the following classes.\nPrioritize classifications in the order\
          \ they are listed below.\n\nCLASSIFICATION PRIORITIES (in exact order):\n\
          1. If message contains BOTH a name AND email address → Class 4 (Contact\
          \ Details)\n2. If user explicitly requests human contact (\"speak with\"\
          , \"talk to representative\") → Class 5 (Representative Request)\n3. If\
          \ message contains greetings OR general inquiries about services → Class\
          \ 1 (Greeting)\n4. If message asks about ZOKFORCE company, services, or\
          \ solutions → Class 2 (Company Info)\n5. If message asks about AI, technology,\
          \ or technical topics → Class 3 (AI Technical)  \n6. If message is completely\
          \ unrelated to business → Class 6 (Off-topic)\n\nSPECIAL HANDLING:\n- Single\
          \ words like \"hi\", \"hello\", \"help\" → Class 1\n- Questions starting\
          \ with \"what\", \"how\", \"tell me\" about services → Class 1\n- Vague\
          \ requests without clear intent → Class 1 (to engage user)\n- Empty or unclear\
          \ messages → Class 1\n- Mixed intents → Choose the primary/most specific\
          \ intent\n\n<examples>\nExample 1:\nInput: Hi there!\nOutput: Class 1\n\n\
          Example 2:\nInput: What are ZOKFORCE's core services?\nOutput: Class 2\n\
          \nExample 3:\nInput: Explain Generative AI to me.\nOutput: Class 3\n\nExample\
          \ 4:\nInput: My name is Alice and my email is alice@example.com. I want\
          \ to know about your AI services.\nOutput: Class 4\n\nExample 5:\nInput:\
          \ I need to talk to someone about ZOKFORCE's solutions.\nOutput: Class 5\n\
          \nExample 6:\nInput: Tell me a joke.\nOutput: Class 6\n</examples>\n"
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-flash-2025-07-28
          provider: langgenius/tongyi/tongyi
        query_variable_selector:
        - '1756349676366'
        - sys.query
        selected: false
        title: Question Classifier
        topics: []
        type: question-classifier
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: false
      height: 374
      id: '1756407779215'
      position:
        x: 448.3344046183108
        y: -59.83684385650281
      positionAbsolute:
        x: 448.3344046183108
        y: -59.83684385650281
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'I''m here to help with questions about ZOKFORCE and AI services.


          I''d be happy to tell you about:

          • Our AI solutions and services

          • How AI can benefit your business

          • Connecting you with our specialists


          What can I help you with regarding ZOKFORCE or AI?'
        desc: ''
        selected: false
        title: Answer 2
        type: answer
        variables: []
      height: 279
      id: '1756409873996'
      position:
        x: 852.6674330125785
        y: 666.9933243223581
      positionAbsolute:
        x: 852.6674330125785
        y: 666.9933243223581
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 9adfaece-4db9-470d-bee8-3e9e4f07a9af
          role: system
          text: "``` xml\nuse the following context as your learned knowledge, inside\n\
            \ <context></context>XML tags\n<context>\n{{#context#}}\n</context>\n\n\
            <instruction>\nYou are ZOKFORCE's customer representative. Your task is\
            \ to provide concise and impactful answers to any questions users have\
            \ about AI. Follow these steps:\n\n1. Read the user's query carefully.\n\
            2. Use the context provided to formulate a clear and concise response.\n\
            3. Deliver the answer without any introductory phrases or extra information.\n\
            4. End your response by asking if the user has more questions or if they\
            \ prefer ZOKFORCE to contact them for further details. Ask user to provide\
            \ email so ZOKFORCE representative can followup.\n\nEnsure your output\
            \ does not include any XML tags.\n</instruction>\n\n<examples>\n<example>\n\
            Input: What is machine learning?\nOutput: Machine learning is a subset\
            \ of AI where systems learn patterns from data to make predictions or\
            \ decisions without explicit programming.\n</example>\n\n<example>\nInput:\
            \ How does AI improve healthcare?\nOutput: AI improves healthcare by enhancing\
            \ diagnostics, personalizing treatments, and streamlining operations,\
            \ leading to better patient outcomes.\n</example>\n\n<example>\nInput:\
            \ Can AI understand emotions?\nOutput: AI can analyze emotional cues through\
            \ text and voice, but it doesn't truly understand emotions; it mimics\
            \ understanding based on data.\n</example>\n</examples>\n```"
        - id: f0e71d90-c4cc-4608-a45e-8da1d0f8501c
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 108
      id: '1756411165153'
      position:
        x: 852.6674330125785
        y: 172.2516019507063
      positionAbsolute:
        x: 852.6674330125785
        y: 172.2516019507063
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1756742205766.filtered_answer#}}'
        desc: ''
        selected: false
        title: Answer 4
        type: answer
        variables: []
      height: 120
      id: '1756411721030'
      position:
        x: 1894.8914552328818
        y: 172.2516019507063
      positionAbsolute:
        x: 1894.8914552328818
        y: 172.2516019507063
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1756416847629'
        model:
          completion_params: {}
          mode: chat
          name: qwen-flash-2025-07-28
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 5106ba21-3641-47f4-9bc5-c841347f9045
          role: system
          text: "``` xml\nuse the following context as your learned knowledge, inside\n\
            \ <context></context>XML tags\n<context>\n{{#context#}}\n</context>\n\n\
            <instruction>\nYou are an AI assistant tasked with processing customer\
            \ inquiries and generating structured responses. Your goal is to extract\
            \ relevant information from the user's input and create a concise summary\
            \ and an acknowledgment email. Follow these steps:\n\n1. Identify and\
            \ extract the following information from the input:\n   - The user's name\n\
            \   - The user's phone number\n   - The user's email address\n   - The\
            \ user's question or enquiry\n\n2. Create a brief, one-sentence summary\
            \ of the user's enquiry. This summary should capture the main issue or\
            \ request and store it as the title.\n\n3. Draft a simple, professional\
            \ email to acknowledge the user's enquiry. The email should inform the\
            \ user that a ZOKFORCE representative will contact them soon to follow\
            \ up on their enquiry. Ensure the email is polite and concise.\n\n4. Output\
            \ the extracted variables and the email body in the specified format,\
            \ ensuring no XML tags are included in the final output.\n\nRemember to\
            \ maintain a professional tone and ensure clarity in both the summary\
            \ and the email.\n</instruction>\n\n<examples>\nExample 1:\nInput: \"\
            My name is John Doe. I'm having trouble with the login feature. My phone\
            \ number is 123-456-7890 and my email is john.doe@email.com. Can someone\
            \ help me reset my password?\"\nOutput: \n- Name: John Doe\n- Phone Number:\
            \ 123-456-7890\n- Email: john.doe@email.com\n- Enquiry: Reset password\
            \ for login feature\n- Title: Password reset request for login issue -\
            \ Acknowledgment of Your Enquiry\n- Email Body: \nDear John Doe, \n\n\
            Thank you for reaching out to ZOKFORCE. We have received your request\
            \ regarding the password reset for the login feature. A representative\
            \ will contact you shortly to assist further. Please let us know if you\
            \ need any immediate assistance. \n\nBest regards, \nZOKFORCE Team\n\n\
            Example 2:\nInput: \"I recently purchased product XYZ and it arrived damaged.\
            \ My details are: Jane Smith, jane.smith@email.com, 987-654-3210. I would\
            \ like to arrange a replacement.\"\nOutput: \n- Name: Jane Smith\n- Phone\
            \ Number: 987-654-3210\n- Email: jane.smith@email.com\n- Enquiry: Replacement\
            \ for damaged product XYZ\n- Title: Request for replacement of damaged\
            \ product - Acknowledgment of Your Enquiry\n- Email Body: \nDear Jane\
            \ Smith, \n\nThank you for contacting ZOKFORCE regarding the damaged product\
            \ XYZ. We apologize for the inconvenience and will arrange a replacement\
            \ for you. A representative will be in touch with you soon to coordinate\
            \ the details. If you have any further questions, please don’t hesitate\
            \ to reach out.\n\nBest regards, \nZOKFORCE Team\n\nExample 3:\nInput:\
            \ \"I have a question about the shipping time for product ABC. My information:\
            \ Emily Johnson, emily.johnson@email.com, 555-123-4567.\"\nOutput: \n\
            - Name: Emily Johnson\n- Phone Number: 555-123-4567\n- Email: emily.johnson@email.com\n\
            - Enquiry: Shipping time for product ABC\n- Title: Inquiry about shipping\
            \ time for product - Acknowledgment of Your Enquiry\n- Email Body: \n\
            Dear Emily Johnson, \n\nThank you for reaching out to ZOKFORCE regarding\
            \ the shipping time for product ABC. We will provide you with the necessary\
            \ information shortly through our representative. If you have any other\
            \ questions, feel free to contact us.\n\nBest regards,\nZOKFORCE Team\n\
            </examples>\n```"
        - id: 292c3d6b-82a1-49e0-9241-93438031b186
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            properties:
              email:
                format: email
                type: string
              emailBody:
                type: string
              phoneNum:
                type: string
              question:
                type: string
              title:
                type: string
              user:
                type: string
            required:
            - user
            - phoneNum
            - email
            - question
            type: object
        structured_output_enabled: true
        title: LLM 3
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector: []
          enabled: false
      height: 108
      id: '17564263774550'
      position:
        x: 846.4409886289948
        y: 307.6716351281808
      positionAbsolute:
        x: 846.4409886289948
        y: 307.6716351281808
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: Email send to {{#17564263774550.structured_output.email#}}, our representative
          will contact you shortly.
        desc: ''
        selected: false
        title: Answer 4
        type: answer
        variables: []
      height: 180
      id: '1756428270332'
      position:
        x: 1485.083365082585
        y: 306.89589442049044
      positionAbsolute:
        x: 1485.083365082585
        y: 306.89589442049044
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Sure. Please leave your name, phone number, email contact, and question
          you would like to know, our representative will contact you shortly.
        desc: ''
        selected: false
        title: Answer 6
        type: answer
        variables: []
      height: 199
      id: '1756433195848'
      position:
        x: 852.6674330125785
        y: 463.9737035599886
      positionAbsolute:
        x: 852.6674330125785
        y: 463.9737035599886
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Recipient email account
            ja_JP: Recipient email account
            pt_BR: Recipient email account
            zh_Hans: 收件人邮箱账号
          label:
            en_US: Recipient email account
            ja_JP: Recipient email account
            pt_BR: Recipient email account
            zh_Hans: 收件人邮箱账号
          llm_description: Recipient email account
          max: null
          min: null
          name: send_to
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Reply-to email address
            ja_JP: Reply-to email address
            pt_BR: Reply-to email address
            zh_Hans: 回复电子邮件地址
          label:
            en_US: Reply-to email address
            ja_JP: Reply-to email address
            pt_BR: Reply-to email address
            zh_Hans: 回复电子邮件地址
          llm_description: Reply-to email address
          max: null
          min: null
          name: reply_to
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Carbon copy email account
            ja_JP: Carbon copy email account
            pt_BR: Carbon copy email account
            zh_Hans: 抄送邮箱账号
          label:
            en_US: Carbon copy email account(json list)
            ja_JP: Carbon copy email account(json list)
            pt_BR: Carbon copy email account(json list)
            zh_Hans: 抄送邮箱账号(json list)
          llm_description: Carbon copy email account(json list)
          max: null
          min: null
          name: cc
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Blind carbon copy email account
            ja_JP: Blind carbon copy email account
            pt_BR: Blind carbon copy email account
            zh_Hans: 密送邮箱账号
          label:
            en_US: Blind carbon copy email account(json list)
            ja_JP: Blind carbon copy email account(json list)
            pt_BR: Blind carbon copy email account(json list)
            zh_Hans: 密送邮箱账号(json list)
          llm_description: Blind carbon copy email account(json list)
          max: null
          min: null
          name: bcc
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: email subject
            ja_JP: email subject
            pt_BR: email subject
            zh_Hans: 邮件主题
          label:
            en_US: email subject
            ja_JP: email subject
            pt_BR: email subject
            zh_Hans: 邮件主题
          llm_description: email subject
          max: null
          min: null
          name: subject
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: email content
            ja_JP: email content
            pt_BR: email content
            zh_Hans: 邮件内容
          label:
            en_US: email content
            ja_JP: email content
            pt_BR: email content
            zh_Hans: 邮件内容
          llm_description: email content
          max: null
          min: null
          name: email_content
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 0
          form: form
          human_description:
            en_US: Convert content from markdown to HTML
            ja_JP: Convert content from markdown to HTML
            pt_BR: Convert content from markdown to HTML
            zh_Hans: 将内容从Markdown转换为HTML
          label:
            en_US: Convert to HTML
            ja_JP: Convert to HTML
            pt_BR: Convert to HTML
            zh_Hans: 转换为HTML
          llm_description: Whether to convert the email content from markdown to HTML
            format
          max: null
          min: null
          name: convert_to_html
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Files to attach to the email
            ja_JP: Files to attach to the email
            pt_BR: Files to attach to the email
            zh_Hans: 要附加到电子邮件的文件
          label:
            en_US: File Attachments
            ja_JP: File Attachments
            pt_BR: File Attachments
            zh_Hans: 文件附件
          llm_description: Files to attach to the email
          max: null
          min: null
          name: attachments
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: files
        params:
          attachments: ''
          bcc: ''
          cc: ''
          convert_to_html: ''
          email_content: ''
          reply_to: ''
          send_to: ''
          subject: ''
        provider_id: langgenius/email/email
        provider_name: langgenius/email/email
        provider_type: builtin
        selected: false
        title: send email
        tool_configurations:
          convert_to_html:
            type: constant
            value: true
        tool_description: A tool for sending email
        tool_label: send email
        tool_name: send_mail
        tool_node_version: '2'
        tool_parameters:
          attachments:
            type: constant
            value: null
          bcc:
            type: mixed
            value: ''
          cc:
            type: mixed
            value: ''
          email_content:
            type: mixed
            value: '{{#17564263774550.structured_output.emailBody#}}'
          reply_to:
            type: mixed
            value: ''
          send_to:
            type: mixed
            value: '{{#17564263774550.structured_output.email#}}'
          subject:
            type: mixed
            value: '{{#17564263774550.structured_output.title#}}'
        type: tool
      height: 108
      id: '1756433716641'
      position:
        x: 1158.7791849668097
        y: 306.89589442049044
      positionAbsolute:
        x: 1158.7791849668097
        y: 306.89589442049044
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: "\U0001F44B Hi! Welcome to ZOKFORCE. We specialize in AI services\
          \ and solutions to help businesses leverage artificial intelligence.\n\n\
          Here's how I can help you today:\n• Learn about ZOKFORCE services and solutions\n\
          • Get answers to AI-related questions  \n• Connect you with our team for\
          \ personalized assistance\n\nWhat would you like to know more about?"
        desc: ''
        selected: false
        title: Answer 6
        type: answer
        variables: []
      height: 339
      id: '1756700915220'
      position:
        x: 852.6674330125785
        y: -231.3368069268901
      positionAbsolute:
        x: 852.6674330125785
        y: -231.3368069268901
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nimport re\n\ndef main(arg1: str) -> dict:\n    # 使用正则表达式移除 <think>...</think>\
          \ 标签及其内容\n    filtered_answer = re.sub(r'<think>.*?</think>', '', arg1,\
          \ flags=re.DOTALL)\n    # 清理多余的空白字符\n    filtered_answer = re.sub(r'\\n\\\
          s*\\n', '\\n', filtered_answer.strip())\n    \n    return {\n        \"\
          filtered_answer\": filtered_answer\n    }"
        code_language: python3
        desc: ''
        outputs:
          filtered_answer:
            children: null
            type: string
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1756360036405'
          - text
          value_type: string
          variable: arg1
      height: 63
      id: '1756741865978'
      position:
        x: 1513.5086586075147
        y: 58.82442813803057
      positionAbsolute:
        x: 1513.5086586075147
        y: 58.82442813803057
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nimport re\n\ndef main(arg1: str) -> dict:\n    # 使用正则表达式移除 <think>...</think>\
          \ 标签及其内容\n    filtered_answer = re.sub(r'<think>.*?</think>', '', arg1,\
          \ flags=re.DOTALL)\n    # 清理多余的空白字符\n    filtered_answer = re.sub(r'\\n\\\
          s*\\n', '\\n', filtered_answer.strip())\n    \n    return {\n        \"\
          filtered_answer\": filtered_answer\n    }"
        code_language: python3
        desc: ''
        outputs:
          filtered_answer:
            children: null
            type: string
        selected: false
        title: Code 2
        type: code
        variables:
        - value_selector:
          - '1756411165153'
          - text
          value_type: string
          variable: arg1
      height: 63
      id: '1756742205766'
      position:
        x: 1358.0439919425196
        y: 172.2516019507063
      positionAbsolute:
        x: 1358.0439919425196
        y: 172.2516019507063
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Recipient email account
            ja_JP: Recipient email account
            pt_BR: Recipient email account
            zh_Hans: 收件人邮箱账号
          label:
            en_US: Recipient email account
            ja_JP: Recipient email account
            pt_BR: Recipient email account
            zh_Hans: 收件人邮箱账号
          llm_description: Recipient email account
          max: null
          min: null
          name: send_to
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Reply-to email address
            ja_JP: Reply-to email address
            pt_BR: Reply-to email address
            zh_Hans: 回复电子邮件地址
          label:
            en_US: Reply-to email address
            ja_JP: Reply-to email address
            pt_BR: Reply-to email address
            zh_Hans: 回复电子邮件地址
          llm_description: Reply-to email address
          max: null
          min: null
          name: reply_to
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Carbon copy email account
            ja_JP: Carbon copy email account
            pt_BR: Carbon copy email account
            zh_Hans: 抄送邮箱账号
          label:
            en_US: Carbon copy email account(json list)
            ja_JP: Carbon copy email account(json list)
            pt_BR: Carbon copy email account(json list)
            zh_Hans: 抄送邮箱账号(json list)
          llm_description: Carbon copy email account(json list)
          max: null
          min: null
          name: cc
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Blind carbon copy email account
            ja_JP: Blind carbon copy email account
            pt_BR: Blind carbon copy email account
            zh_Hans: 密送邮箱账号
          label:
            en_US: Blind carbon copy email account(json list)
            ja_JP: Blind carbon copy email account(json list)
            pt_BR: Blind carbon copy email account(json list)
            zh_Hans: 密送邮箱账号(json list)
          llm_description: Blind carbon copy email account(json list)
          max: null
          min: null
          name: bcc
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: email subject
            ja_JP: email subject
            pt_BR: email subject
            zh_Hans: 邮件主题
          label:
            en_US: email subject
            ja_JP: email subject
            pt_BR: email subject
            zh_Hans: 邮件主题
          llm_description: email subject
          max: null
          min: null
          name: subject
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: email content
            ja_JP: email content
            pt_BR: email content
            zh_Hans: 邮件内容
          label:
            en_US: email content
            ja_JP: email content
            pt_BR: email content
            zh_Hans: 邮件内容
          llm_description: email content
          max: null
          min: null
          name: email_content
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 0
          form: form
          human_description:
            en_US: Convert content from markdown to HTML
            ja_JP: Convert content from markdown to HTML
            pt_BR: Convert content from markdown to HTML
            zh_Hans: 将内容从Markdown转换为HTML
          label:
            en_US: Convert to HTML
            ja_JP: Convert to HTML
            pt_BR: Convert to HTML
            zh_Hans: 转换为HTML
          llm_description: Whether to convert the email content from markdown to HTML
            format
          max: null
          min: null
          name: convert_to_html
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Files to attach to the email
            ja_JP: Files to attach to the email
            pt_BR: Files to attach to the email
            zh_Hans: 要附加到电子邮件的文件
          label:
            en_US: File Attachments
            ja_JP: File Attachments
            pt_BR: File Attachments
            zh_Hans: 文件附件
          llm_description: Files to attach to the email
          max: null
          min: null
          name: attachments
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: files
        params:
          attachments: ''
          bcc: ''
          cc: ''
          convert_to_html: ''
          email_content: ''
          reply_to: ''
          send_to: ''
          subject: ''
        provider_id: langgenius/email/email
        provider_name: langgenius/email/email
        provider_type: builtin
        selected: false
        title: send email
        tool_configurations:
          convert_to_html:
            type: constant
            value: false
        tool_description: A tool for sending email
        tool_label: send email
        tool_name: send_mail
        tool_node_version: '2'
        tool_parameters:
          attachments:
            type: constant
            value: null
          bcc:
            type: mixed
            value: null
          cc:
            type: mixed
            value: null
          email_content:
            type: mixed
            value: 'Enquiry from: {{#17564263774550.structured_output.email#}}

              {{#17564263774550.structured_output.emailBody#}}'
          reply_to:
            type: mixed
            value: null
          send_to:
            type: mixed
            value: service@zokforce.com
          subject:
            type: mixed
            value: '[Enquiry from External:  {{#17564263774550.structured_output.email#}}]
              {{#17564263774550.structured_output.title#}}'
        type: tool
      height: 108
      id: '1757900370944'
      position:
        x: 1485.083365082585
        y: 488.5401612497142
      positionAbsolute:
        x: 1485.083365082585
        y: 488.5401612497142
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 687.0831417468554
      y: 456.95920173172254
      zoom: 0.25
  rag_pipeline_variables: []
